body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 98vh 2rem;
  font-family: Bitter, serif;
}

svg#timeline {
  width: 98vw;
  height: 98vh;
  margin: 0;
  padding: 0;
}

rect.background {
  fill: #eee;
}

footer {
  text-align: right;
}
